<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_HOME" value="/var/log/"/>
    <!-- 输出到控制台 -->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >-->
    <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
    <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}: %msg%n</pattern>-->
    <!--<charset>UTF-8</charset>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 配置滚动的策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志名称的格式 -->
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/@artifactId@.%i.log</fileNamePattern>
            <!-- 文件大小：天数 -->
            <MaxFileSize>50MB</MaxFileSize>
            <!-- 保存的最长时间：天数 -->
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}: %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--
    注意：
    loger和logger都是可以用的，两者有区别。loger会将加载logback的信息打印输出，最后会执行root指定级别的日志。
    logger不会输出加载logback的信息，只会输出程序中书写的日志记录。经常使用的是logger。

    <loger name="ws.log.logback.LogbackTest" additivity="false">
        <level value="INFO" />
        <appender-ref  ref="STDOUT" />
    </loger>
    -->

    <!--<logger name="ws.log.logback.LogbackTest" additivity="false">-->
    <!--<level value="INFO" />-->
    <!--<appender-ref ref="STDOUT" />-->
    <!--</logger>-->

    <!-- 相当于loger元素，只是name值已经确定为root了 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>